<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
   <div class="container">
    <div class="mb-3 mt-2">
        <h3><i class="bi bi-folder mr-2 " style="color:#409ad5;" ></i>Aplikasi Data Kendaraan</h3>
    </div>
    <div class="card " style=" margin-top:40px;border:1px solid #c85e19;">
        <form class="card-body" method="post" th:object="${searchForm}" th:action="@{/search}" style="height:180px; display:flex; flex-direction: column; background-color:  #fce4d6;">
         <label for="" class="font-weight-bold">No Registrasi</label>
         <input type="text" style="width:250px;" th:field="*{keyword1}" autocomplete="off">
         <label for="" class="font-weight-bold" >Nama Pemilik</label>
         <input type="text" style="width:250px;" th:field="*{keyword2}" autocomplete="off">
        
        
      
      <div   style=" margin-top:15px; display:flex;justify-content: flex-end; flex-direction: row;" >
        <button type="submit" class="mr-1" style="width:130px; height:40px; background-color: #4472c4; border-radius: 5px; color:white; border:2px solid #2f528f;">Search</button>
        <a class="text-center" style="width:130px; height:40px; line-height: 35px; background-color: #4472c4; border-radius: 5px; color:white; border:2px solid #2f528f;" th:href="@{'/add'}">Entry</a>
    
    </div>
</form>
</div>

    <table border="1" class=" tbl w-100 mt-4">
        <thead >
          <tr class="text-center" style="border:2px solid black;background-color: #b4c6e7; color:#203764;">
            <th style="border:2px solid black;" scope="col">No</th>
            <th style="border:2px solid black;" scope="col">No Registrasi</th>
            <th style="border:2px solid black;" scope="col">Nama Pemilik</th>
            <th  style="border:2px solid black;"scope="col">Merk Kendaraan</th>
            <th  style="border:2px solid black;"scope="col">Tahun Pembuatan</th>
            <th  style="border:2px solid black;"scope="col">Kapasitas</th>
            <th  style="border:2px solid black;"scope="col">Warna</th>
            <th style="border:2px solid black;" scope="col">Bahan Bakar</th>
            <th style="border:2px solid black;" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="ken, no: ${kendaraan}" class="text-center">
                <td th:text="${no.count}"></td>
                <td th:text="${ken.noregis}"></td>
                <td th:text="${ken.nama}"></td>
                <td th:text="${ken.merk}"></td>
                <td th:text="${ken.tahun}"></td>
                <td th:text="${ken.kapasitas} + ' cc'"></td>
                <td th:text="${ken.warna}"></td>
                <td th:text="${ken.bahan}"></td>
                <td>
              
                    <a class="font-weight-bold" style="color:#c65911"  th:href="@{'/detail/'+${ken.noregis}}">Detail</a>
                    <a class="font-weight-bold" style="color:#305496"  th:href="@{'/edit/'+${ken.noregis}}">Edit</a>
                    <a class="text-danger font-weight-bold" th:href="@{'/delete/'+${ken.noregis}}" id="deleteButton" >Hapus</a>
                  </td>
          </tr>
        </tbody>
      </table>
   </div>
    
  
   <div class="modal fade " id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
               Anda yakin akan menghapus data?
            </div>
            <div class="modal-footer ">
                <a href="" style="background-color:#305496;color:white; padding:7px; width:65px; border-radius:3px; text-align: center;" id="delRef">Ok</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
               
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <script type="text/javascript">
            $('document').ready(function() {
                $('.tbl #deleteButton').on('click', function(event) {
                  event.preventDefault();
                  var href = $(this).attr('href');
                  $('#deleteModal #delRef').attr('href', href);
                  $('#deleteModal').modal();
                });
               });
          </script>
</html>